
<form asp-action="Form" asp-controller="Cliente">
	<button type="submit" class="btn btn-primary">Novo Cliente</button>
</form>
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Nome Fantasia</th>
			<th scope="col">Inscrição Federal</th>
			<th scope="col">Ativo</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
